.contact-section{
    background-image: url(../../../images/appointmentBg.png);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    
}
.contact-section::before{
    content: "";
    position: absolute;
    display: block;
    width: 1005;
    height: 100%;
    background: rgb(36, 41, 73);
    opacity: .9;
    top: 0;
    z-index: -1;
}